<%= render "shared/moving_bar", texts: [
  t('slogan2'),
  t('slogan3'),
  t('slogan4'),
] %>
<%# Sección del video %>
<div class="video-container">
  <video autoplay muted loop id="background-video" class="w-100">
    <source src="<%= asset_path('bg-home.mp4') %>" type="video/mp4">
    Tu navegador no soporta este formato de video.
  </video>

  <%# Contenido encima del video %>
  <div class="container text-center position-relative" style="height: 100vh;">
    <div class="d-flex flex-column align-items-center justify-content-start h-100 mt-6">
      <p class="fs-3 fw-bold text-white text-uppercase"><%= t('title') %></p>
      <h1 class="title fw-bold display-3 mb-4 text-white"><%= t('slogan') %></h1>
      <a href="#categories" class="btn custom-btn btn-lg">
        <span class="d-flex align-items-center gap-2">
          <%= t('info') %> <span class="fs-2 arrow-icon">&gt;</span>
        </span>
      </a>
    </div>
  </div>
</div>
<%= render "shared/moving_bar", texts: [
  t('slogan2'),
  t('slogan3'),
  t('slogan4'),
] %>
<div class="container-fluid min-vh-100 text-center position-relative py-5 p-6" id="categories">
  <h2 class="pb-5 fw-bold subtittle"><%= t('categories') %></h2>

  <div class="row justify-content-center">
    <% @categories.each do |category| %>
      <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
        <div class="inverse-box rounded w-100 h-100" style="max-width: 300px;">
          <% if category.image.attached? %>
            <%= image_tag category.image, class: "mb-3 rounded category-image" %>
          <% else %>
            <%= image_tag "placeholder.svg", class: "img-fluid mb-3 rounded", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <p class="fw-bold fs-4"><%= category.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
