<div class="home">
  <%= render "shared/moving_bar", texts: [
    t('slogan2'),
    t('slogan3'),
    t('slogan4'),
  ] %>

  <%# Sección del video %>
  <div class="video-container">
    <video autoplay muted loop id="background-video" class="w-100">
      <source src="<%= asset_path('bg-home.mp4') %>" type="video/mp4">
      Tu navegador no soporta este formato de video.
    </video>

    <%# Contenido encima del video %>
    <div class="container text-center position-relative" style="height: 100vh;">
      <div class="d-flex flex-column align-items-center justify-content-start h-100 mt-6">
        <p class="fs-3 fw-bold text-white text-uppercase"><%= t('title') %></p>
        <h1 class="title fw-bold display-3 mb-4 text-white"><%= t('slogan') %></h1>
        <a href="#categories" class="btn custom-btn btn-lg">
          <span class="d-flex align-items-center gap-2">
            <%= t('info') %> <span class="fs-2 arrow-icon">&gt;</span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <%= render "shared/moving_bar", texts: [
    t('slogan2'),
    t('slogan3'),
    t('slogan4'),
  ] %>

  <% if @categories.present? %>
    <div class="container-fluid min-vh-100 text-center position-relative py-5 p-6" id="categories">
      <h2 class="pb-5 fw-bold subtittle"><%= t('categories') %></h2>

      <div class="scroll-wrapper">
        <div class="row flex-nowrap flex-md-wrap justify-content-start justify-content-lg-center">
          <% @categories.each do |category| %>
            <div class="m0 col-10 col-md-6 col-lg-3 mb-3 px-2 d-flex justify-content-center">
              <div class="w-100 h-100" style="max-width: 300px;">
                <%= link_to category_products_path(category), class: "click w-100 h-100 d-flex flex-column align-items-center text-decoration-none" do %>
                  <div class="image-zoom-container">
                    <% if category.image.attached? %>
                      <%= image_tag category.image, class: "category-image" %>
                    <% else %>
                      <%= image_tag "placeholder.svg", class: "category-image" %>
                    <% end %>
                  </div>
                  <button class="cssbuttons-io-button d-inline-flex align-items-center gap-2 mt-2">
                    <%= category.name %>
                    <div class="icon">
                      <svg height="24" width="24" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path
                          d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </div>
                  </button>
                <% end %> <!-- Aquí cerramos el link_to correctamente -->
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
