<h1 class="mb-4">Productos</h1>

<%= link_to "Nuevo Producto", new_admin_category_product_path(@category), class: "btn btn-primary mb-4" %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <% @category.products.each do |product| %>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <% if product.image.attached? %>
          <%= image_tag product.image, class: "card-img-top", style: "height: 300px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "placeholder.svg", class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text text-muted"><%= product.category.name if product.category %></p>
          <p class="card-text fw-bold">$ <%= product.formatted_price %> </p>
          <p class="card-text">Stock: <%= product.stock %></p>
          <p>Tallas disponibles: <%= product.sizes.join(', ') %></p>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <%= link_to "Editar", edit_admin_category_product_path(@category ,product), class: "btn btn-sm btn-secondary" %>
          <%= button_to 'Eliminar', admin_category_product_path(@category, product),
            method: :delete,
            form: { data: { turbo: false } },
            onclick: "return confirm('¿Estás seguro de que deseas eliminar esta producto?')",
            class: 'btn btn-danger'
          %>
        </div>
      </div>
    </div>
  <% end %>
</div>
