<h1><%= @category.new_record? ? "Nueva Categoría" : "Editar Categoría" %></h1>

<%= render 'shared/form_errors', object: @category %>

<%= form_with model: [:admin, @category], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
  <%= link_to "Cancelar", admin_categories_path(@user), class: "btn btn-secondary ms-2" %>
<% end %>
