<div id="<%= dom_id t_shirt %>">
  <p>
    <strong>Name:</strong>
    <%= t_shirt.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= t_shirt.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= t_shirt.size %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= t_shirt.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= t_shirt.price %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= t_shirt.stock %>
  </p>

</div>
