<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Diseños Alma | Haz tu diseño único" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "devise_custom", media: "all" %>


    <!-- Enlace al archivo CSS de Bootstrap desde el CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Enlace a la fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

    <%# Control de temas (Modo oscuro y modo claro) %>
    <style>
      html[data-theme="dark"],
      html[data-theme="light"] {
        color: inherit;
        background-color: inherit;
      }

      body[data-theme="dark"] {
        background-color: #121212;
        color: white;
      }
      body[data-theme="light"] {
        background-color: white;
        color: black;
      }

      body{
        transition: background-color 0.3s, color 0.3s;
      }
    </style>
    <script>
      (function() {
        try {
          const theme = localStorage.getItem('theme') || 'light';
          document.body.setAttribute('data-theme', theme);
        } catch(e) {
          document.body.setAttribute('data-theme', 'light');
        }
      })();
    </script>
  </head>

  <body>
    <!-- Barra de navegación -->
    <% unless controller_path.starts_with?("admin/") %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>