<div class="m-3">
    <%= render 'shared/form_errors', object: @user%>
    <%= render 'shared/form_exited', object: @user%>
</div>

<h1 class="text-uppercase title-devise mb-5 mt-5"><%= t('sign_up') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="text-center">

    <!-- Name input -->
    <%= f.text_field :name,
      placeholder: t('name'),
      required: true,
      autofocus: true,
      autocomplete: "given-name",
      class: "login-input"
    %>

    <!-- Lastname input -->
    <%= f.text_field :last_name,
      placeholder: t('last_name'),
      required: true,
      autofocus: true,
      autocomplete: "family-name",
      class: "login-input"
    %>
    
    <!-- City input -->
    <%= f.text_field :city,
      placeholder: t('city'),
      required: true,
      autofocus: true,
      autocomplete: "address-level2",
      class: "login-input"
    %>

    <!-- Address input -->
    <%= f.text_field :address,
      placeholder: t('address'),
      required: true,
      autofocus: true,
      autocomplete: "address-level2",
      class: "login-input"
    %>

    <!-- Phone input -->
    <%= f.telephone_field :phone,
      placeholder: t('phone'),
      required: true,
      autofocus: true,
      autocomplete: "tel",
      class: "login-input"
    %>

    <!-- Email input -->
    <%= f.email_field :email,
      placeholder: t('email'),
      required: true,
      autofocus: true,
      autocomplete: "email",
      class: "login-input"
    %>
    <!-- Password input with toggle -->
    <% placeholder_text = if @minimum_password_length
      "#{t('password')} (#{@minimum_password_length} #{t('message_minium')})"
    else
      t('password')
    end %>

    <%= f.password_field :password,
      placeholder: placeholder_text,
      required: true,
      autocomplete: "new-password",
      class: "login-input pr-5",
      id: "password-field"
    %>
    
    <%= f.password_field :password_confirmation,
      placeholder: t('confirm_password'),
      required: true,
      autocomplete: "new-password",
      class: "login-input pr-5"
    %>

    <%= f.submit t('sign_up'), class: "text-uppercase login-button" %>
    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
