<% content_for :title, "Editing user" %>

<div class="container mt-4">
  <h1 class="text-center mb-4">Editar Usuario</h1>

  <!-- Si existen errores, mostrarlos -->
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibieron guardar este usuario:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Renderiza el formulario de edición (parcial '_form.html.erb') -->
  <%= render "form", user: @user %>

  <div class="text-center mt-4">
    <!-- Enlaces de acción -->
    <%= link_to "Ver este usuario", @user, class: "btn btn-info mb-3 col-4" %>
    <br>
    <%= link_to "Volver a la lista de usuarios", users_path, class: "btn btn-secondary col-4" %>
  </div>
</div>
