<div class="index-products p-4"> 
  <h1 class="text-uppercase fw-bold mb-5 mt-5"><%= @category.name %></h1>

  <% if @products.present? %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% @category.products.each do |product| %>
        <div class="col mb-5">
          <div class="h-100">

            <%= link_to category_product_path(product.category_id, product.id), class: "image-zoom-container d-block" do %>
              <% if product.image.attached? %>
                <%= image_tag product.image, class: "card-img-top rounded-img", style: "height: 400px; object-fit: cover;" %>
              <% else %>
                <%= image_tag "placeholder.svg", class: "card-img-top rounded-img", style: "height: 200px; object-fit: cover;" %>
              <% end %>
            <% end %>

            <div class="card-body pt-4 h-15">
              <h5 class="card-title text-uppercase fw-bold"><%= product.name %></h5>
            </div>

            <p class="px-3 card-text fs-7 fw-bold color-green">$ <%= product.formatted_price %> </p>
            <div class="d-flex justify-content-between">
              <%= form_with url: cart_items_path, method: :post, local: true do %>
                <%= hidden_field_tag :product_id, product.id %>
                <button class="button">
                  <%= t("add_to_cart") %>
                  <svg class="cartIcon" viewBox="0 0 576 512"><path d="..."></path></svg>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-danger">
      <%= t("no_products") %>
    </p>
  <% end %>
</div>
